@import '../../../main-styles.scss';

.task-manager-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 680px;
    box-shadow:  1em 1em 1em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

.task-list-font-color {
    color : #ffffff
}

.custom-buttom-style {
    background-color: #ffffff;
    border-color: transparent;
    color: #363e48;
}

.sidebar {
    display: flex;
    flex-direction: column;

    width: 250px;
    background: #363e48;

    padding: 42px;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.task-list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 42px;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;


    .top-bar {
        margin-bottom: 20px;
        display: flex;
        .title {
            flex-grow: 1;
            margin: 0;
        }
    }

}

.list-menu {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex-grow: 1; 

    .list-menu-item {
        display: flex;

        align-items: center;
        padding: 10px 15px;
        border-radius: 5px;

        width: 100%;
        color: #ffffff;
        margin-bottom: 10px;
        box-shadow: 1.2px 1.2px 1.2px 1.2px rgba($color: #1c2025, $alpha: 0.8), 0 0 0 1px rgba($color: #1c2025, $alpha: 0.2);

        &:hover {
            box-shadow: 1.2px 1.2px 1.2px 1.2px rgba($color: #979797, $alpha: 0.8) inset;
            color: #363e48;
            background: $light;
        }

        &.is-active {
            box-shadow: 1.2px 1.2px 1.2px 1.2px rgba($color: #979797, $alpha: 0.8) inset;
            background-color: #ffffff;
            color: #363e48;
        }
    }
}

.task {
    display: flex;
    background: white;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;

    align-items: center;
    
    &:not(.complete) {
        cursor: pointer;
        transition: box-shadow 0.2s ease, transform 0.2s ease;
    
        &:active {
            transform: scale(0.95);
        }
        
        &:hover {
            // box-shadow: 0 0 0 5px #eeeeee;
            box-shadow: 1.2px 1.2px 1.2px 1.2px rgba($color: #979797, $alpha: 0.5) inset;
            .task-buttons {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &.completed {
        background-color: rgb(233, 233, 233);
        box-shadow: 1.2px 1.2px 1.2px 1.2px rgba($color: #b1b1b1, $alpha: 0.4) inset;
        opacity: 0.4;

        .task-text {
            text-decoration: line-through;
        }
    }


    .task-text {
        display: flex;
        flex-grow: 1;
    }

    .task-buttons {
        transition: opacity 0.2s, transform 0.2s;
        opacity: 0;
        transform: scale(0.85);
    }

    .task-button-style {
        margin-left: 2%;
    }
}

.circle-add-button {
    position: absolute;
    bottom: 35px;
    right: 35px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
}

.empty-state-text {
    font-size: 20px;
    color: #777;
    text-align: center;
}
