// This is where we put global styles and change variable values

// Import Fonts (Lato and Nunito)
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

$turquoise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e; 
$dark-green: rgb(0, 100, 80);
$palegreen: #7cdfc1;

$light: #f8f8f8;


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: #363e48;

$link: $turquoise;


// Update some of Bulma's component variables

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


// Set custom global styles (will be applied to whole app)

html, body {
    height: 100%;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(215, 215, 215);
}

.modal-box {
    min-height: 200px;
    width: 100%;
    max-width: 580px;
    border-radius: 15px;
    padding: 35px;
    background-color: whitesmoke !important;
    box-shadow:  1em 1em 1em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);

}

.title {
    font-family: 'Lato';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.head {
    font-family: 'Arial';
    font-size: 20px;
    color: black;
    font-weight: bold;
    letter-spacing: 1px; 
}

.white-box {
    padding: 35px;
    background: white;
    border-radius: 5px;

    width: 350px;
    max-width: 350px;
}

.main-text {
    color : #363e48 !important;
}

.has-background-white {
    background-color: white;
}

.custom-buttom-style {
    background-color: #363e48;
    border-color: transparent;
    color: #363e48;
}

.is-darkblue {
    background-color: #363e48;
}
