<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Edit task
        </h1>

        <h1 class="head is-title">
            Task Name
        </h1>
        <input #taskTitleInput class="input has-background-white is-small" id="title" type="text">
        <p class="help is-danger ghost" id="titleValid">This username is invalid</p>


        <h1 class="head is-title">
            Task Descrpition
        </h1>
        <textarea #taskDescription class="textarea has-background-white is-small" id="des">{{des}}</textarea>
        <p class="help is-danger ghost" id="desValid">This descrpition is invalid</p>


        <h1 class="head is-title">
            Task Time
        </h1>
        <dl-date-time-picker startView="day" maxView="year" minView="day" [(ngModel)]="selectedDate">
        </dl-date-time-picker>
        <p class="help is-danger ghost" id="timeValid">This time is invalid</p>


        <p id="selectedDate">Selected Date: {{selectedDate}}</p>


        <div class="buttons is-right">
            <button class="button is-medium" [routerLink]="['/lists', listId]">Cancel</button>
            <button class="button has-text-white is-medium custom-buttom-style"
                (click)="updateTask(taskTitleInput.value, taskDescription.value, selectedDate)">Create</button>
        </div>

    </div>
</div>