<div class="centered-content">
    <div class="tabbarCollection">
        <div class="button is-darkblue has-text-white is-page-tag" routerLink="/all-task-view">
            All Task Views
        </div>
        <div class="button is-light has-text-black is-page-tag">
            Time-based Task Views
        </div>
    </div>
    <div class="task-manager-container">

        <div class="task-list-container has-background-white">
            <h1 class="title main-text">
                Past Tasks
            </h1>

            <div class="list-menu">
                <cdk-virtual-scroll-viewport style="height: 500px" itemSize="90">
                    <a class="list-menu-item" *cdkVirtualFor="let list1 of pastTasks">
                        <p>
                            <fa-icon [icon]="faTasks"></fa-icon> {{ list1.name }} <br>
                            <fa-icon [icon]="faInfoCircle"></fa-icon> {{ list1.description }} <br>
                            <fa-icon [icon]="faClock"></fa-icon> {{ transferNumDate(list1.deadline) }}
                        </p>
                    </a>
                </cdk-virtual-scroll-viewport>
            </div>
        </div>
        <div class="task-list-padding"></div>
        <div class="task-list-container has-background-white">
            <h1 class="title main-text">
                One day
            </h1>

            <div class="list-menu">
                <cdk-virtual-scroll-viewport style="height: 500px" itemSize="90">
                    <a class="list-menu-item" *cdkVirtualFor="let list2 of oneDayTasks">
                        <p>
                            <fa-icon [icon]="faTasks"></fa-icon> {{ list2.name }} <br>
                            <fa-icon [icon]="faInfoCircle"></fa-icon> {{ list2.description }} <br>
                            <fa-icon [icon]="faClock"></fa-icon> {{ transferNumDate(list2.deadline) }}
                        </p>
                    </a>
                </cdk-virtual-scroll-viewport>
            </div>
        </div>
        <div class="task-list-padding"></div>
        <div class="task-list-container has-background-white">
            <h1 class="title main-text">
                One Week
            </h1>

            <div class="list-menu">
                <cdk-virtual-scroll-viewport style="height: 500px" itemSize="90">
                    <a class="list-menu-item" *cdkVirtualFor="let list3 of oneWeekTasks">
                        <p>
                            <fa-icon [icon]="faTasks"></fa-icon> {{ list3.name }} <br>
                            <fa-icon [icon]="faInfoCircle"></fa-icon> {{ list3.description }} <br>
                            <fa-icon [icon]="faClock"></fa-icon> {{ transferNumDate(list3.deadline) }}
                        </p>
                    </a>
                </cdk-virtual-scroll-viewport>
            </div>
        </div>
        <div class="task-list-padding"></div>
        <div class="task-list-container has-background-white">
            <h1 class="title main-text">
                Over a Week
            </h1>

            <div class="list-menu">
                <cdk-virtual-scroll-viewport style="height: 500px" itemSize="90">
                    <a class="list-menu-item" *cdkVirtualFor="let list4 of afterOneWeekTasks">
                        <p>
                            <fa-icon [icon]="faTasks"></fa-icon> {{ list4.name }} <br>
                            <fa-icon [icon]="faInfoCircle"></fa-icon> {{ list4.description }} <br>
                            <fa-icon [icon]="faClock"></fa-icon> {{ transferNumDate(list4.deadline) }}
                        </p>
                    </a>
                </cdk-virtual-scroll-viewport>
            </div>
        </div>
        <div class="button returnButton custom-buttom-style has-text-white" routerLink="/lists">
            Return
        </div>
    </div>
</div>