<div class="centered-content">
    <div class="tabbarCollection">
        <div class="button is-primary has-text-white" routerLink="/all-task-view">
            All Task Views
        </div>
        <div class="button is-light has-text-black">
            Time-based Task Views
        </div>
    </div>
    <div class="task-manager-container">

        <div class="task-list-container has-background-light">
            <h1 class="title has-text-primary">
                Past Tasks
            </h1>

            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list1 of pastTasks">
                    <p>
                        <fa-icon [icon]="faTasks"></fa-icon> {{ list1.name }} <br>
                        <fa-icon [icon]="faInfoCircle"></fa-icon> {{ list1.description }} <br>
                        <fa-icon [icon]="faClock"></fa-icon> {{ transferNumDate(list1.deadline) }}
                    </p>
                </a>

            </div>
        </div>
        <div class="task-list-padding"></div>
        <div class="task-list-container has-background-light">
            <h1 class="title has-text-primary">
                One day
            </h1>

            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list2 of oneDayTasks">
                    <p>
                        <fa-icon [icon]="faTasks"></fa-icon> {{ list2.name }} <br>
                        <fa-icon [icon]="faInfoCircle"></fa-icon> {{ list2.description }} <br>
                        <fa-icon [icon]="faClock"></fa-icon> {{ transferNumDate(list2.deadline) }}
                    </p>
                </a>

            </div>
        </div>
        <div class="task-list-padding"></div>
        <div class="task-list-container has-background-light">
            <h1 class="title has-text-primary">
                One Week
            </h1>

            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list3 of oneWeekTasks">
                    <p>
                        <fa-icon [icon]="faTasks"></fa-icon> {{ list3.name }} <br>
                        <fa-icon [icon]="faInfoCircle"></fa-icon> {{ list3.description }} <br>
                        <fa-icon [icon]="faClock"></fa-icon> {{ transferNumDate(list3.deadline) }}
                    </p>
                </a>

            </div>
        </div>
        <div class="task-list-padding"></div>
        <div class="task-list-container has-background-light">
            <h1 class="title has-text-primary">
                Over a Week
            </h1>

            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list4 of afterOneWeekTasks">
                    <p>
                        <fa-icon [icon]="faTasks"></fa-icon> {{ list4.name }} <br>
                        <fa-icon [icon]="faInfoCircle"></fa-icon> {{ list4.description }} <br>
                        <fa-icon [icon]="faClock"></fa-icon> {{ transferNumDate(list4.deadline) }}
                    </p>
                </a>
            </div>

            <div class="button returnButton is-primary has-text-white" routerLink="/lists">
                Return
            </div>
        </div>

    </div>
</div>