<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Edit task
        </h1>

        <h1 class="head">
            Task Name
        </h1>
        <input #taskTitleInput class="input has-background-light is-small" type="text">
        <br><br>

        <h1 class="head">
            Task Descrpition
        </h1>
        <textarea #taskDescription class="textarea has-background-light is-small" type="text"></textarea>
        <br><br>

        <!-- <h1 class="head">
            Task ID
        </h1>
        <input #tasklistID class="input has-background-light is-small" type="text">
        <br><br> -->

        <h1 class="head">
            Task Time
        </h1>
        <dl-date-time-picker startView="day" maxView="year" minView="day" [(ngModel)]="selectedDate">
        </dl-date-time-picker>

        <br><br>

        <div class="buttons is-right">
            <button class="button is-medium" routerLink="/">Cancel</button>
            <button class="button is-primary has-text-white is-medium"
                (click)="createTask(taskTitleInput.value, taskDescription.value, selectedDate)">Create</button>
        </div>



    </div>
</div>