<div class="centered-content">
    <div class="tabbarCollection">
        <div id="myProgress">
            <div id="myBar">10%</div>
        </div>
    </div>
    <div>
        <div class="button is-light has-text-black is-page-tag">
            All Task Views
        </div>
        <div class="button is-darkblue has-text-white is-page-tag" routerLink="/time-based-task-view">
            Time-based Task Views
        </div>
    </div>
    <div class="task-manager-container">
        <div class="task-list-container has-background-white">
            <h1 class="title main-text">
                Incompleted Tasks
            </h1>

            <div class="list-menu">
                <cdk-virtual-scroll-viewport style="height: 500px" itemSize="90">
                    <a class="list-menu-item" *cdkVirtualFor="let list1 of incompledtedTasks">
                        <p>
                            <fa-icon [icon]="faTasks"></fa-icon> {{ list1.name }} <br>
                            <fa-icon [icon]="faInfoCircle"></fa-icon> {{ list1.description }} <br>
                            <fa-icon [icon]="faClock"></fa-icon> {{ transferNumDate(list1.deadline) }}
                        </p>
                    </a>
                </cdk-virtual-scroll-viewport>
            </div>
        </div>
        <div class="task-list-padding"></div>
        <div class="task-list-container has-background-white">
            <h1 class="title main-text">
                Completed Tasks
            </h1>
            <div class="list-menu">
                <cdk-virtual-scroll-viewport style="height: 500px" itemSize="90">
                    <a class="list-menu-item" *cdkVirtualFor="let list2 of completedTasks">
                        <p>
                            <fa-icon [icon]="faTasks"></fa-icon> {{ list2.name }} <br>
                            <fa-icon [icon]="faInfoCircle"></fa-icon> {{ list2.description }} <br>
                            <fa-icon [icon]="faClock"></fa-icon> {{ transferNumDate(list2.deadline) }}
                        </p>
                    </a>
                </cdk-virtual-scroll-viewport>
            </div>
        </div>
        <div class="button returnButton custom-buttom-style has-text-white" routerLink="/lists">
            Return
        </div>
    </div>
</div>